<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrimeComm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PrimeComm.Properties.Settings>
            <setting name="IgnoreInternalNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObfuscateVariables" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveComments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompressSpaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegexProgramName" serializeAs="String">
                <value>export (?&lt;name&gt;.*?)\(</value>
            </setting>
            <setting name="EnableAdditionalProgramProcessing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipConflictingProcessChecking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageMethodDimgrobOptimizeSimilar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageMethodDimgrobOptimizeBlacks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageMethod" serializeAs="String">
                <value>DimgrobPieces</value>
            </setting>
        </PrimeComm.Properties.Settings>
    </userSettings>
</configuration>