<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrimeComm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PrimeComm.Properties.Settings>
            <setting name="IgnoreInternalName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObfuscateVariables" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveComments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompressSpaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegexProgramName" serializeAs="String">
                <value>export (?&lt;name&gt;.*?)\(</value>
            </setting>
            <setting name="EnableAdditionalProgramProcessing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipConflictingProcessChecking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageMethodDimgrobOptimizeSimilar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageMethodDimgrobOptimizeBlacks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageMethod" serializeAs="String">
                <value>DimgrobPieces</value>
            </setting>
            <setting name="RegexStrings" serializeAs="String">
                <value>"[^""\\]*(?:\\.[^""\\]*)*"</value>
            </setting>
            <setting name="RegexComments" serializeAs="String">
                <value>//.*</value>
            </setting>
            <setting name="RegexBase64" serializeAs="String">
                <value>(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?</value>
            </setting>
            <setting name="RegexOperators" serializeAs="String">
                <value>(["'+/*-\^@!:;,.?%=)(}{\][|\s])</value>
            </setting>
            <setting name="RegexLocalVariables" serializeAs="String">
                <value>local (?&lt;vars&gt;.*?);</value>
            </setting>
            <setting name="VariableRefactoringStartingSeed" serializeAs="String">
                <value>aa0</value>
            </setting>
            <setting name="SkipFullscreenWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProgramTemplate" serializeAs="String">
                <value>EXPORT programName()
BEGIN
    %cursor%
END;
</value>
            </setting>
            <setting name="AddCommentOnConversion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditorFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ImageDitheringMethod" serializeAs="String">
                <value>DitherTypeNone</value>
            </setting>
            <setting name="RecentFilesMaximum" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EditorWordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditorMinimizesPrimeComm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditorRestoresPrimeComm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideAsNotificationIcon" serializeAs="String">
                <value>True</value>
            </setting>
        </PrimeComm.Properties.Settings>
    </userSettings>
</configuration>